body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f9;
}

h1 {
  font-family: "Lobster", cursive;
  color: #333;
  text-align: center;
  background: url("../../Day_7/Photo-Editor/bg.jpg");
  margin-bottom: 20px;
}

.app-container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.sidebar {
  width: 30%;
  padding: 20px;
  background-color: #f4f4f9;
  border-right: 1px solid #ddd;
}

.sidebar .upload-btn {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

.controls .control-group {
  margin-bottom: 15px;
}

.controls label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.controls input[type="range"] {
  width: 100%;
}

.watermark-container{
  display: flex;
}

.flip-btns-container {
  display: flex;
}

.flip-btn-image {
  width: 30px;
  height: 30px;
}

.flip-btn-image-vertical {
  transform: rotate(90deg);
}

.flip-btn {
  padding: 5px 10px;
  margin: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  transition: all 0.5s ease;
}

.flip-btn:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.control-button {
  margin: 5px;
  padding: 5px;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  transition: all 0.5s ease;
  background-color: #dddddd59;

}

.control-button:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.reset-btn,
.download-btn {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #218838;
}

/* From Uiverse.io by TCdesign-dev */
.download-button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #1875ff;
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 13px;
  box-shadow: 0px 14px 56px -11px #1875ff;
  width: 100%;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
}

.download-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.download-button span:after {
  content: "for free";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.download-button:hover span {
  padding-right: 3.55em;
}

.download-button:hover span:after {
  opacity: 4;
  right: 0;
}

.image-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9ecef;
  position: relative;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.watermark-input {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}
